@model IEnumerable<Subcategory>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> SubKategories</h2>
        </div>
        <div class="col-6 btn-group text-right" role="group">
            <a asp-controller="Subcategories" asp-action="Create" class="btn btn-primary mx-1">Create new SubKategory</a>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-dark  mx-1">Back</a>
        </div>
    </div>
</div>
<div class="row" style="width:100%">
    @if (Model.Count() > 0)
    {
        <table id="little_table" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Links
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kat in Model)
                {
                    <tr>
                        <td width="30%">
                            <img class="media-object mx-4" src="@kat.ImageUrl" alt="image info" width="128" height="64" style="border: 2px solid #43ac6a; border-radius: 25px ">
                            <b>ID: @kat.Id</b>
                        </td>
                        <td width="30%">
                            <h4 class="media-heading text-dark"><strong>@kat.Title</strong></h4>
                        </td>
                        <td width="30%">
                            <div class="btn-group text-right " role="group">
                                <div class="pl-2 pb-4 mx-4"><a asp-controller="Subcategories" asp-action="Details" asp-route-id="@kat.Id" class="btn btn-primary w-100">Go to Details</a></div>
                                <div class="pr-2 h5 pb-4 mx-4"><a asp-controller="Categories" asp-action="Delete" asp-route-id="@kat.Id" class="btn btn-danger w-100">Delete</a></div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No items created yet</p>
    }
</div>

