@model IEnumerable<Subcategory>



<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">PEM SubKategories</h2>
        </div>
        <div class="col-6 btn-group text-right" role="group">
            <a asp-controller="Subcategories" asp-action="Create" class="btn btn-primary mx-1">Create new SubKategory</a>
            <a asp-controller="Categories" asp-action="Index" class="btn btn-dark  mx-1">Back</a>
        </div>
    </div>
</div>
<div class="row">
    @if (Model.Count() > 0)
    {
        @foreach (var kat in Model)
        {

            <div class="col-lg-6 col-xl-6 col-md-6 pb-4 mx-auto">
                <div class="card " style="border:2px solid #43ac6a;border-radius:5px; background:url('/images/medical_pattern.png')">
                    <div class="pl-3 pt-1 text-center">
                        <h3 class="card-title text-primary"><b>@kat.Title</b></h3>
                    </div>
                    <div class="d-flex justify-content-between ">
                        <div class="pl-2"><a asp-controller="Categories" asp-action="Update" asp-route-id="@kat.Id" class="btn btn-primary">Update</a></div>
                        <div class="pr-2 text-danger h5"><b>ID: @kat.Id</b></div>
                        <div class="pr-2 h5"><a asp-controller="Categories" asp-action="Delete" asp-route-id="@kat.Id" class="btn btn-danger">Delete</a></div>
                    </div>
                    <img src="@kat.ImageUrl" class="card-img-top p-2 rounded" width="500" height="300" sstyle="opacity: 1.0" />

                    <div class="text-muted text-center pb-2">Description goes here</div>
                    <a asp-controller="Subcategories" asp-action="Index" asp-route-id="@kat.Id" class="btn btn-success" style="border-radius:2px;">Subcategories</a>
                </div>
            </div>

        }

    }
    else
    {
        <p>No items created yet</p>
    }
</div>